<div class="wrapper">
    <div class="yr-logo">
        <img src="images/logo-yr.svg" />
    </div>
    <div class="yr-partners">
        <img id="nrk-logo" src="images/logo-nrk.svg" width="250" height="250"/>
        <img id="met-logo" src="images/logo-met.svg" width="250" height="250"/>
    </div>
</div>
<div class='yr-gps-missing'>
    Mangler GPS-signal. Forsøker igjen...
</div>
<script>
    var time = new Date().getTime();

    function refresh() {
        if(new Date().getTime() - time >= 10000) 
            window.location.reload(true);
        else 
            setTimeout(refresh, 1000);
     }

     setTimeout(refresh, 1000);
    </script>