<div id="slides">
    <li class="slide showing">
        <div class="logo-wrapper">
            <div class="yr-logo">
                <img src="images/logo-yr.svg" />
            </div>
            <div class="yr-partners">
                <img id="nrk-logo" src="images/logo-nrk.svg" width="250" height="75"/>
                <img id="met-logo" src="images/logo-met.svg" width="250" height="75"/>
            </div>
        </div>
    </li>
    <span class='yr-message'>
        {{message}}
    </span>
</div>

<script>
    var page = 'yrpage';
    var time = new Date().getTime();
    var cause = '{{cause}}';
    var refreshMissingGps = 10 * 1000; //10 sek
    var refreshMaxDistanceFromStation = 5 * 60 * 1000; //5 min
    var refreshInterval = (cause == 'missing_gps' ? refreshMissingGps : refreshMaxDistanceFromStation);

    function refreshYrPage() {
        if(new Date().getTime() - time >= refreshInterval) 
            window.location.reload(true);
        else 
            setTimeout(refreshYrPage, 1000);
     }

     setTimeout(refreshYrPage, 1000);
    </script>