body {
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
}

.wrapper {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.yr-forecast{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.yr-location {
    width: 100%;
    margin: 0 0 2rem 0
}

.yr-location__title{
    white-space: nowrap;
    font-size: 8rem;
    font-weight: bold;
    color: #26292A;
    text-align: center;
    margin-bottom: 2rem;
}

.yr-location__metadata{
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.yr-old-symbol {
    display: flex;
    align-items: center;
}

.yr-new-symbol img {
    width: 400px;
    height: 400px;
}

.yr-temperature sup {
  font-size: 10rem;
}
.yr-temperature #temperature {
    font-size: 18rem;
    color: #C60000;
}

.yr-temperature #timestamp{
    font-size: 5rem;
    margin-top: 0;
}

.yr-location__oldtitle{
    font-family: Cambria, Georgia, serif;
    white-space: nowrap;
    font-size: 8rem;
    font-weight: bold;
    color: #26292A;
    text-align: center;
    margin-bottom: 2rem;
}

.yr-old-forecast p {
    font-family: Cambria, Georgia, serif;
    font-size: 5rem;
    color: #26292A;
    text-align: center;
}

.yr-old-symbol img {
    width: 600px;
    height: 600px;
}

.yr-timestamp{
  font-size: 6rem;
  color: #26292A;
  text-align: center;
}

.logo-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.yr-logo img {
    width: 600px;
    height: 600px;
}

.yr-partners {
  position: absolute;
  bottom: 2em;
}

.yr-partners img {
    margin: 0 6rem;
}

/*
essential styles:
these make the slideshow work
*/

#slides {
    position: relative;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}
